.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 500px;
    position: relative;
	margin: 0% auto;
   /* padding: 5px 20px 13px 20px;*/	
	border-radius: 50px 50px 50px 50px;
	background: #fff;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
.modalbox1{
    width: 1000px;
    position: relative;
	margin: 0% auto;
   /* padding: 5px 20px 13px 20px;*/	
	border-radius: 50px 50px 50px 50px;
	background: #fff;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}
img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

 

#modal2{
    overflow-y:auto;
    max-height:90%;
    margin-top:0%;
}
 
.close:hover {
    background: brown;
    color:#222;
}
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 1% auto;
  width:0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:2% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:700px;
    height:500px;
}
.hide-close .ui-dialog-titlebar-close { display: none }